.motherboard-container-style {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.motherboard-image-style {
  width: 92%;
  height: 100%;
  padding: 4%;
}

.cpu-abs-style {
  position: absolute;
  text-align: center;
  width: 70%;
  left: 13%;
  padding: 2%;
  z-index: 1;
}

.io-link-styles {
  transform-origin: 32.5% 17.5%;
  transition: all 0.15s;
}

.io-link-styles:hover {
  transform: scale(1.1);
}

.cpu-link-styles {
  transform-origin: 42.5% 22.5%;
  transition: all 0.15s;
}

.cpu-link-styles:hover {
  transform: scale(1.1);
}

.ram-link-styles {
  transition: all 0.15s;
}

.ram-link-styles:hover {
  stroke: black;
}
