.terminal {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.t-overlay {
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 1;
  overflow-wrap: break-word;
  padding: 1%;
  font-family: monospace;
  font-size: 1.1rem;
  color: #a3ffb0;
}

.t-top0 {
  top: 0%;
}

/* Could be helpful for making text go 
onto next line of terminal
 .terminalOutput {
  width: 100%;
  overflow-wrap: break-word !important;
  white-space: unset !important;
} */
